@import "tailwindcss";

@theme inline {
  /* 🎨 Flat Color Palette */
  --color-white: #F6F5FA;    /* Soft white for backgrounds */
  --color-black: #212121;    /* Primary text, headings */
  --color-gray: #DBDFE9;     /* Neutral backgrounds / borders */
  --color-blue: #A9C3F0;     /* Optional: actual blue tone */
  --color-yellow: #EFF0A3;   /* Highlights / CTAs */
  --color-green: #CFDECA;    /* Info / success highlights */

  /* Base Colors */
  --color-background: var(--color-white);
  --color-foreground: var(--color-black);

  /* Typography */
  --font-sans: 'Urbanist', sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

.flex-center{
  @apply flex items-center justify-center
}

@layer components{
   .btn {@apply  px-5 py-2 cursor-pointer flex justify-center  text-lg items-center gap-2 transition-all ease-in-out duration-300 rounded-full }
   .btn-primary{
    @apply bg-black text-white hover:bg-black/90
   }
   .btn-outline{
    @apply border border-black text-black hover:bg-black hover:text-white
   }
   .btn-transparent{
    @apply border border-transparent text-black hover:border-black 
   }
}


.recharts-wrapper:focus {
  outline: none !important;
  box-shadow: none !important;
}





.no-scrollbar::-webkit-scrollbar{
  display: none;
}

@keyframes modalIn {
  from {
    @starting-style {
      opacity: 0;
      transform: scale(0.95);
    }
    opacity: 1;
    transform: scale(1);
  }
}

.modal {
  animation: modalIn 2s ease-out forwards;
}



/* ---tool tip ---  */
.tooltip {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.tooltip::before{
  content:"";
  position: absolute;
  background-color: var(--color-black);
  border-radius: 2px;
  opacity: 0;
  width: 15px;
  height: 20px;
  
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  rotate: 45deg;
  margin-top: 4px;
  z-index: 1;
}
.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: var(--color-black);
  color:var(--color-white);
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  left: 50%;
  top: 100%;
  margin-top: 8px;
  z-index: 10;
}

.tooltip:hover::after,.tooltip.tooltip:hover::before {
  opacity: 1;
}

